.md-header {
	background-color: #1976D2 !important;
}
.md-header .md-ripple {
	border-color: #FFFF8D !important;
}
md-tab {
	color: #90caf9 !important;
}
md-tab.active, md-tab:focus {
	color: white !important;
}
md-tab[disabled] {
	opacity: 0.5;
}
md-tabs-ink-bar {
	background-color: #FFFF8D !important;
}
md-tabs .md-paginator {
	color: white;
}
md-select{
	margin-top: 0 !important;
}


